<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sistema de inventario de la Unesr</title>
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico" />
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/sweetalert.css">
    <link rel="stylesheet" href="stylesheets/estiloinventario_inventario.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome-4.6.1/css/font-awesome.min.css">
    <script src="assets/javascripts/multiplicar.js"></script>
</head>
<body>
<!--BARRA DE NAVEGACIÓN-->
<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navegacion" aria-expanded="false">
                    <span class="sr-only">Mostrar/Ocultar</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand"><img src="assets/images/LOGO-UNESR.png" alt="logo" id="unesrnavbar"></a>
            </div>
            <div class="collapse navbar-collapse" id="navegacion">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-hashpopup="true" aria-expanded="true">
                          USUARIO
                          <span><i class="fa fa-user" aria-hidden="true" style="font-size:14pt"></i></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="index">CERRAR SESIÓN <span class="glyphicon glyphicon-remove"></span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!--CUERPO-->
<div class="row">
  <center>
    <h1>REVISAR BASE DE DATOS</h1>
  </center>
</div>

<!--FOOTER-->
  <footer>
          <nav class="navbar navbar-default navbar-fixed-bottom">
             <div class="container-fluid">
                 <p class="text-center">Sistema de Inventario UNESR - Caracas - Venezuela</p>
             </div>
          </nav>
  </footer>
</div>
<!--SCRIPTS-->
<script src="assets/javascripts/jquery-2.2.2.min.js"></script>
<script src="assets/javascripts/bootstrap.min.js"></script>
<script src="assets/javascripts/sweetalert.min.js"></script>
</body>
</html>
